annotated-types==0.7.0
asgiref==3.11.1
Django==5.2
djangorestframework==3.17.1
django-filter==24.1
django-cors-headers==4.3.1
python-dotenv==1.0.0
Faker==22.0.0
djangorestframework_simplejwt==5.5.1
lance-namespace==0.7.6
lance-namespace-urllib3-client==0.7.6
Markdown==3.10.2
numpy==2.4.4
pyarrow==24.0.0
pydantic==2.13.4
pydantic_core==2.46.4
PyJWT==2.12.1
pylance==6.0.0
python-dateutil==2.9.0.post0
python-decouple==3.8
six==1.17.0
sqlparse==0.5.5
typing-inspection==0.4.2
typing_extensions==4.15.0
urllib3==2.7.0
